<%- include('header'); %>

<div class="container loginBox mr-auto mr-bot mr-top-40 w-80">

    <form id="connexionForm" action="/utilisateurs/login" method="POST">
        <div class="jumbotron ">
            <h1 class="mr-auto">Connexion</h1>
        </div>

        <% if (locals.error){ %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= error %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <% } %>

        <label class="mr-top" for="InputEmail">Adresse email</label>
        <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Entrez votre email">

        <label class="mr-top" for="inputMdp">Mot de passe</label>
        <input type="password" class="form-control" id="inputMdp" name="inputMdp"
            placeholder="Entrez votre mot de passe">

        <div class="dsp-flex"></div>
        <button type="submit" class="btn btn-success mr-auto mr-top-40">Se connecter</button>
</div>

</form>
</div>

<%- include('footer'); %>