<%- include('header'); %>

<div class="container loginBox mr-auto mr-bot mr-top-40 w-80">

    <div class="jumbotron ">
        <h1 class="mr-auto">Créer un programme</h1>
    </div>

    <form id="progForm" action="/programmes/mesProgrammes" method="POST">
        <label class="mr-top" for="InputNomProg">Nom du programme</label>
        <input type="test" class="form-control" id="InputNomProg" name="InputNomProg"
            placeholder="Entrez le nom du programme">

        <label class="mr-top" for="inputDescProg">Description</label>
        <textarea id="story" class="form-control" id="inputDescProg" name="inputDescProg"rows="5" cols="33"></textarea>

        <div class="dsp-flex"></div>
        <button type="submit" class="btn btn-success mr-auto mr-top-40">Créer</button>
</div>

</form>
</div>

<%- include('footer'); %>