

    <%- include('header'); %>

    <div class="container loginBox mr-auto mr-bot mr-top-40 w-80">

        <form action="" method="post">
            <div class="jumbotron ">
                <h1 class="mr-auto">Créer un exercice</h1>
            </div>

            <% if (locals.error){ %>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <%= error %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <% } %>

            <label class="mr-top" for="Inputlib">Libelé de l'exercice</label>
            <input type="text" class="form-control" id="Inputlib" name="Inputlib" placeholder="Entrez le libelé de l'exercice">

            <label class="mr-top" for="exampleInputEmail1">Difficulté</label>
            <input type="password" class="form-control" id="inputMdp" name="inputMdp"
                placeholder="Entrez votre mot de passe">

            <div class="dsp-flex">
                <button type="submit" class="btn btn-success mr-auto mr-top-40">Submit</button>
            </div>

        </form>
    </div>

    <%- include('footer'); %>
