<script src= "/public/scripts/headerManager.js"></script>

<footer class="container-fluid mr-top-60">
<p class="noMargin text-white centerText">Réalisé par Rémi Salmi dans le cadre d'un projet Scolaire</p>
</footer>

</body>

</html>