<%- include('header'); %>



<div class="container loginBox mr-auto mr-bot mr-top-169 w-80">

    <form action="/utilisateurs" method="post">
        <div class="jumbotron ">
            <h1 class="mr-auto">Inscription</h1>
        </div>

        <% if (locals.error){ %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= error %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <% } %>

        <label class="mr-top" for="inputEmail">Adresse email</label>
        <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Entrez votre email">

        <label class="mr-top" for="inputNom">Nom</label>
        <input type="text" class="form-control" id="inputNom" name="inputNom" placeholder="Entez votre nom">

        <label class="mr-top" for="inputPrenom">Prénom</label>
        <input type="text" class="form-control" id="inputPrenom" name="inputPrenom" placeholder="Entrez votre prénom">

        <label class="mr-top" for="inputMdp">Mot de passe</label>
        <input type="password" class="form-control" id="inputMdp" name="inputMdp"
            placeholder="Entrez votre mot de passe">

        <label class="mr-top" for="inputMdp2">Retapez votre mot de passe</label>
        <input type="password" class="form-control" id="inputMdp2" name="inputMdp2"
            placeholder="Retapez votre mot de passe">

        <div class="dsp-flex">
            <button type="submit" class="btn btn-success mr-auto mr-top-40">Submit</button>
        </div>

    </form>
</div>

<%- include('footer'); %>